// Variables
$white: white;
$flickr-black: #212124; // black rgb(33,33,36) rgba version
// $background-overlay: rgba(0,0,0,0.4); 

$text-center: center;

$mobile: 575px;
$tablet-min: 576px;
$tablet-max: 980px;
$desktop: 981px;
$largeDesktop: 1436px;